/* Train Scheduler Styles */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  background-image: url(../images/subtle_dots_@2X.png);
}

h3, h5 {
  font-family: 'Montserrat', sans-serif;
}

